In [24]:
import pandas as pd 
tab=pd.read_csv('Données bonheur.csv', sep=';', decimal=",", index_col='Country name')
#on écarte la liste des années
l=list(tab)[1:]
#on normalise toutes les valeurs entre 0 et 1
for name in l :
    tab1=tab[tab[name].notna()]
    min=tab1[name].min()
    max=tab1[name].max()
    ecart=max-min
    tab[name]=(tab[name]-min)/ecart

In [29]:
#Création indice bonhuer en faisant la moyenne de tous les paramètres 
tab['Indice bonheur']=tab[l].mean(axis=1)
resultat=tab[['year','Indice bonheur']]
resultat

              year  Indice bonheur
Country name
Afghanistan   2008        0.469615
Afghanistan   2009        0.498503
Afghanistan   2010        0.481020
Afghanistan   2011        0.447256
Afghanistan   2012        0.488208
...            ...             ...
Zimbabwe      2018        0.535876
Zimbabwe      2019        0.500560
Zimbabwe      2020        0.523745
Zimbabwe      2021        0.485564
Zimbabwe      2022        0.479623

[2199 rows x 2 columns]